body,
html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "EB Garamond", sans-serif;
  /*line-height: 1.8em;*/
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  background-color: transparent;
  background-image: none;
  border-style: none;
  font-size: 1.3rem;
  font-family: "Roboto";
}
.navbar-brand {
  font-family: "Monoton", cursive;
  font-size: 2em;
}
.img1,
.img2 {
  max-width: 100%;
  opacity: 0.6;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img1text {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  letter-spacing: 0.5rem;
  font-size: 1em;
}

h1 {
  font-family: "Caveat", cursive;
  font-size: 4rem;
}
/*------About me section-------*/
#Hi h2 {
  text-align: center;
  color: #2574c9;
  padding: 1rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Caveat", cursive;
  font-size: 4rem;
}
#Hi p {
  text-align: center;
  padding: 2% 10%;
  color: #545454;
  font-size: 1.5rem;
  font-weight: 500;
}
/*------what section------*/

#What header h2 {
  text-align: center;
  color: #2574c9;
  padding: 0.5em 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Caveat", cursive;
  font-size: 4rem;
}
#What h3 {
  color: #79a2ce;
  padding: 3% 0%;
  font-family: "Roboto", sans-serif;
}

#What p {
  font-size: 1.5rem;
  color: #545454;
}
#design {
  margin: auto;
}
#develop {
  margin: auto;
}

.fa-html5 {
  color: #e54d26;
}
.html1 {
  padding-right: 2rem;
}
.fa-css3 {
  color: #2163af;
}
.fa-bold {
  color: #563d7c;
}

#iconz {
  margin: auto;
}
.icons1 {
  padding: 10% 3%;
}
.icons2 {
  text-align: center;
  letter-spacing: 1rem;
  padding: 10%;
}

/*-----"icons-left"------*/

#What .html1 {
  position: relative;
  animation: html1 3s;
  display: inline-block;
}
@keyframes html1 {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}
#What .css1 {
  position: relative;
  animation: css 4s;
  display: inline-block;
}
@keyframes css {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}

#What .java1 {
  position: relative;
  animation: java 5s;
  display: inline-block;
}
@keyframes java {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}

/*-----"icons-right"-------*/

#What .phone1 {
  position: relative;
  animation: phone1 3s;
  display: inline-block;
}
@keyframes phone1 {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}
#What .tablet1 {
  position: relative;
  animation: tablet1 4s;
  display: inline-block;
}
@keyframes tablet1 {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}

#What .laptop1 {
  position: relative;
  animation: laptop1 5s;
  display: inline-block;
}
@keyframes laptop1 {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}
/**Photo by Joshua Earle on Unsplash*/
.img1 {
  background-image: url("../images/image1.jpg");
  min-height: 100%;
}
/*Photo by Antoine Rault on Unsplash*/
.img2 {
  background-image: url("../images/image3.jpg");
  min-height: 180px;
}

/*----Message section----*/

#Message h2 {
  text-align: center;
  color: #2574c9;
  padding: 0.5em 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Caveat", cursive;
  font-size: 4rem;
}

#Message h3 {
  color: #79a2ce;
  padding: 3% 0%;
  font-family: "Roboto", sans-serif;
}
#Message p {
  font-size: 1.5rem;
  color: #545454;
}

.button {
  padding: 2rem 0 5rem;
}
.btn-primary {
  background-color: #5297e0;
  border: none;
  color: #14467c;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-family: "Roboto";
}
.btn-primary:hover {
  background-color: #358ae6;
  color: #14467c;
}

/*-----footer----*/

#contacts {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.footicons {
  padding: 2rem 0;
  margin-top: 1rem;
}
.footicons a,
.footicons a:hover,
.footicons a:visited,
.footicons a:link,
.footicons a:active {
  text-decoration: none;
  color: white;
  letter-spacing: 1rem;
}
#contacts p {
  font-size: 0.9rem;
  color: white;
}

/*------- Work.html---------*/

.work {
  max-width: 100%;
  position: relative;
  opacity: 0.6;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/image3.jpg");
  min-height: 275px;
}

.workheading {
  padding-top: 3rem;
  text-align: center;
  color: white;
}
#Mywork h3 {
  color: #79a2ce;
  padding: 3% 0%;
  font-family: "Roboto", sans-serif;
}

.projects img {
  max-width: 100%;
  height: auto;
  float: left;
  padding-top: 2rem;
}
.projectimage {
  text-align: center;
  font-size: 2rem;
}
.projects {
  padding: 2rem;
}
.projects a {
  color: #212529;
}

/*-----media-----*/

@media (max-width: 576px) {
  .img1,
  .img2 {
    background-attachment: scroll;
  }
  .footlinks {
    width: 100%;
  }
  .icons1,
  .icons2 {
    width: 100%;
    font-size: 2vw;
  }
  .container-fluid {
    text-align: center;
  }
}
/*h1 {
    font-size: 9vw !important;
  }
  h2 {
    font-size: 10vw !important;
  }*/
.footlinks li {
  width: 50%;
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
  #develop {
    margin: 2rem 0 4rem;
  }
  #develop .icons2 {
    letter-spacing: 10px;
  }
}
