# Test results for MAmbrozyk portfolio

#Results Key:
Result:**Yes** = Feature available and working as intended.No action needed.
Result:**No** = Feature available but not working as intended.Fix needed.
Result:**N/A** = Feature not used,therforere not tested.No action needed.

## HEAD

**Doctype:** The Doctype is HTML5 and is at the top of all HTML pages.

Result:**Yes**

**Charset:** The charset declared (UTF-8) is declared correctly.

Result:**Yes**

**Viewport:** The viewport is declared correctly.

Result:**Yes**

**Title:** A title is used on all pages

Result:**Yes**

**Description:** A meta description is provided, it is unique and doesn't possess
more than 150 characters.

Result:**Yes**

**Favicons:** Each favicon has been created and displays correctly.

Result:**Yes**

**Canonical:** Use rel="canonical" to avoid duplicate content.

Result:**Yes**

**Language attribute:** The lang attribute of the website is specified and related to the language of the current page.

Result:**Yes**

**Alternate language:** The language tag of your website is specified and related to the language of the current page.

Result:**N/A**

**Inline critical CSS:** The inline critical CSS is correctly injected in the HEAD.

Result:**Yes**

**CSS order:** All CSS files are loaded before any JavaScript files in the HEAD.

Result:**Yes**

**Facebook Open Graph:**

Result:**N/A**

**Twitter Card:**

Result:**N/A**

## HTML

**HTML5 Semantic Elements:** HTML5 Semantic Elements are used appropriately (header, section, footer, main...).

Result:**Yes**

**Error pages:** Error 404 page and 5xx exist

Result:**N/A**

**Noopener:** In case you are using external links with target="\_blank",link should have a rel="noopener" attribute to prevent tab nabbing.

Result:**Yes**

**Clean up comments:** Unnecessary code needs to be removed before sending the page to production.

Result:**Yes**

**W3C compliant:** All pages need to be tested with the W3C validator to identify possible issues in the HTML code.

Result:**Yes**

**Link checker:** There are no broken links in my page, verify that you don't have any 404 error.

Result:**Yes**

**Adblockers test:** Your website shows your content correctly with adblockers enabled.

Result:**Yes**

## CSS

**Responsive Web Design:** The website is using responsive web design.

Result:**Yes**

**Unique ID:** If IDs are used, they are unique to a page.

Result:**Yes**

**Reset CSS:** A CSS reset (reset, normalize or reboot) is used and up to date.

Result:**N/A**

**JS prefix:** All classes (or id- used in JavaScript files) begin with js- and are not styled into the CSS files.

Result:**N/A**

**Embedded or inline CSS:** Avoid at all cost embeding CSS in <style> tags or using inline CSS.

Result:**Yes**

**Vendor prefixes:** CSS vendor prefixes are used and are generated accordingly with your browser support compatibility.

Result:**N/A**

**Stylelint:** All CSS or SCSS files are without any errors.

Result:**Yes**

**Responsive web design:** All pages were tested with the correct breakpoints.

Result:**Yes**

**CSS Validator:** The CSS was tested and pertinent errors were corrected.

Result:**Yes**

**Desktop Browsers:** All pages were tested on all current desktop browsers (Safari, Firefox, Chrome, Internet Explorer, EDGE...)

Result:**Yes**

**Mobile Browsers:** All pages were tested on all current mobile browsers (Native browser, Chrome, Safari...)

Result:**Yes**

**OS:** All pages were tested on all current OS (Windows, Android, iOS, Mac...)

Result:**Yes**

**Reading direction:** All pages need to be tested for LTR and RTL languages if they need to be supported.

Result:**N/A**
